# Your system has configured 'manage_etc_hosts' as True.
# As a result, if you wish for changes to this file to persist
# then you will need to either
# a.) make changes to the master file in /etc/cloud/templates/hosts.redhat.tmpl
# b.) change or remove the value of 'manage_etc_hosts' in
#     /etc/cloud/cloud.cfg or cloud-config from user-data

52.49.234.236 ip-10-0-1-6.eu-west-1.compute.internal
52.30.52.123 ip-10-0-1-11.eu-west-1.compute.internal
52.31.248.215 ip-10-0-1-233.eu-west-1.compute.internal
52.48.189.247 ip-10-0-1-236.eu-west-1.compute.internal
52.31.59.137 ip-10-0-1-234.eu-west-1.compute.internal
52.30.216.41 ip-10-0-1-235.eu-west-1.compute.internal