# Creates a Policies OU (Organizational Unit)
dn: {{ iam_ldap_policies_dn }}
objectClass: organizationalUnit
ou: Policies

# Creates a Policy object in Policies OU (Organizational Unit)
dn: {{ iam_ldap_password_policy_dn }}
objectClass: top
objectClass: device
objectClass: pwdPolicy
cn: password5MaxAttempts
pwdAttribute: 2.5.4.35
pwdMaxAge: 0
pwdExpireWarning: 0
pwdMaxFailure: 5
pwdLockout: TRUE
pwdLockoutDuration: 1800
pwdMustChange: FALSE
pwdAllowUserChange: FALSE
pwdSafeModify: FALSE
