dn: cn=config
changetype: modify
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: {{ldap_ssl_key_file}}
-
replace: olcTLSCertificateFile
olcTLSCertificateFile: {{ldap_ssl_crt_file}}
-
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: {{default_ssl_pem_ca_dir}}/{{ldap_ssl_crt_file | basename}}